<center>
	<h3>Hello , <%= @member.name %></h3>
</center>
<p> Here is your library status. We have issued following books to you. But you exceeds you time limit to keep books. Now you should either submit or reissue them or a legel panelty will charge to you.</p>
<p> <%= @member.content %>
<p> Please take appropriate cautions.</p>
<div class="pull-right">
	<p>Yours Faithfully</p>
</div>